@define-color cyan #8be9fd;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;

@define-color accent @purple;

@define-color bg alpha(@theme_bg_color, 0.66);
@define-color bg-hover shade(@bg, 1.33);

@define-color bg-selected rgba(68, 71, 90, 0.8);
@define-color bg-selected-hover shade(@bg-selected, 1.33);

@define-color bg-urgent alpha(@red, 0.5);
@define-color border-urgent alpha(@red, 0.66);
@define-color border-urgent-selected @red;

@keyframes blink {
    to {
        background-color: transparent;
    }
}

* {
	min-height: 0;

	border: none;
	border-radius: 0;

	font-family: sans;
	font-size: 14px;
}

tooltip {
	background: @bg;
	border-radius: 5px;
	border: 1px solid @accent;
}

window#waybar {
	background-color: @bg;
	border-radius: 0;
}

window.top#waybar .modules-right, window.bottom#waybar .modules-right {
	margin-right: 8px;
}

#workspaces button {
	min-width: 7em;
	padding: 0;

	border-radius: 0;
	border-bottom: 2px solid @bg-selected;

	transition: color 100ms, background-color 100ms, border-bottom 100ms;
}

#workspaces button.focused {
	background-color: @bg-selected;

	border-bottom: 2px solid @accent;
}

#workspaces button:hover {
	background-color: @bg-hover;
}

#workspaces button.focused:hover {
	background-color: @bg-selected-hover;
}

#workspaces button.urgent {
	background-color: @bg-urgent;

    border-bottom: 2px solid @border-urgent;

	animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(16);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.urgent:hover {
	background-color: @bg-urgent;

	animation-play-state: paused;
}

#workspaces button.urgent.focused {
	background-color: @bg-urgent;
    
    border-bottom: 2px solid @border-urgent-selected;
}

#clock {
	min-width: 8em;
}

#pulseaudio {
	min-width: 5em;
}

#pulseaudio-slider slider {
    min-height: 16px;
    min-width: 3px;

	margin-left: 0;
	margin-right: 0;

	background-color: @bg-selected;
}

#pulseaudio-slider slider:hover {
	background-color: @bg-selected-hover;
}

#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 6px;

    border-radius: 5px;
    background-color: shade(@bg, 0.8);
}

#pulseaudio-slider highlight {
	min-height: 6px;

    border-radius: 5px 0px 0px 5px;
	background-image: linear-gradient(to right, @cyan, @accent, @pink, @red);
	background-size: 80px;
}

#battery {
	border-radius: 10;
}

#battery.warning, #battery.critical {
	background-color: transparent;
	font-weight: bold;
}

#battery.warning {
	color: @orange;
}

#battery.critical {
	color: @red;
}